* {
    margin: 0;
    padding: 0;
}
body {
    color:#d9d9d9;
    background-image: url("images/background.png");
    background-color:#000;
    background-size:contain;
    background-attachment:scroll;
    background-position: top;
    background-repeat:no-repeat;
    font-family: Oswald, Geneva, Tahoma, sans-serif;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection, ::-moz-selection {
    color: white;
    background: rgb(110, 110, 110, 0.4);
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#navbar {
    overflow: hidden;
    background-color:rgb(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    box-shadow: rgb(0, 0, 0, 0.4) 0px 0px 20px 5px;
}
#main-header {
    height:60px;
}
#logo {
    font-weight:900;
    font-size:35px;
    margin-left: 40px;
    margin-bottom:4px;
    text-wrap:nowrap;
    overflow:hidden;
}
#nav-items {
    list-style-type: none;
    width:540px;
    margin-right:40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:800;
}

#navbar a, #navbar a:visited, #navbar a:hover, #navbar a:active {
    color:inherit;
    text-decoration:none;
}
#navbar li {
    font-size:16px;
    padding:0px 10px;
    transition: transform .1s;
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.4);
    color:#d8d8d8;
}
#navbar li:hover {
    transform: scale(1.2);
    transition: transform .1s;
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.8);
    color:#fff;
}

#main {
    display:flex;
    height:1400px;
    justify-content: center;
    align-items: start;
    margin-top:100px;
    font-size: 60px;
    font-weight:100;
}

#footer {
    min-height: 70px;
    font-weight:200;
    color:white;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#credits-footer {
    text-align:right;
    margin-right:14px;
}
#socials-footer {
    margin-left:25px;
}
#socials-list{
    list-style-type: none;
}